.design_container {
    max-width: 1400px;
    margin: 0px auto;
}

body {
    font-family: "Roboto", sans-serif;
}
header {
    text-align: center;
}
.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #eaeaea;
    text-align: center;
    padding: 13px 13px 13px 69px;
    box-shadow: inset 0px 9px 10px -2px rgb(163, 163, 163, 0.7);
}

.city i {
    font-size: 15px;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 200px;
    height: 35px;
    padding-top: 12px;
    text-align: center;
    margin-bottom: 8px;
}
.explorer {
    margin-bottom: 40px;
    background-color: #f6f6f6;
}
.explorer h1 {
    font-size: 1.9em;
    padding-left: 5px;
    margin-top: 0px;
    text-align: center;
    padding: 20px;
}
.explorer p {
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.3em;
}
.button_container {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 15px;
}

.tuto {
    counter-reset: steps;
    padding: 0px 14px;
    margin-bottom: 50px;
    text-align: center;
}

.tuto h2 {
    font-size: 1.6em;
    margin-bottom: 25px;
}
.tuto li::before {
    content: counter(steps);
    counter-increment: steps;
    color: white;
    background-color: #9356dc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -8px;
}
.tuto i {
    margin-left: 13px;
}
.tuto li {
    background-color: #f6f6f6;
    padding: 20px 20px;
    flex-grow: 1;
    border-radius: 18px;
    box-shadow: 2px 1px 8px -3px #000000;
    list-style-type: none;
    margin-bottom: 20px;
    position: relative;
    font-size: 1.2em;
}
.tuto ol {
    padding-left: 0px;
    display: inline-flex;
    column-gap: 30px;
}
span {
    border: 2px solid black;
    width: 20px;
    position: absolute;
    top: 5px;
    left: 20px;
}
.list {
    display: flex;
    padding: 0 10px;
}
.tuto i {
    color: lightgray;
    margin-right: 22px;
}

.menus h2 {
    padding: 20px 20px;
    margin: 0px;
    font-size: 1.6em;
}
.menus {
    background-color: #f3f3f3;
    padding-bottom: 13px;
}
.menus_cards {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menus a.card_new {
    width: 43%;
    margin-bottom: 20px;
    border-radius: 16px 16px 16px 16px;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.menus a.card_new::before {
    content: "Nouveau";
    position: absolute;
    height: 29px;
    width: 80px;
    background-color: #99e2d0;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 15px;
    border-radius: 5px;
    color: #35a78a;
    font-weight: bold;
}

.menus img {
    width: 100%;
    height: 145px;
    object-fit: cover;
    padding-top: 0px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.description {
    display: flex;
}

.card_description h3,
.card_description p {
    margin: 0;
    position: relative;
    font-size: 1.2em;
    margin-bottom: 4px;
    margin-left: 10px;
}

footer {
    border: 1px solid darkgrey;
    background-color: #353535;
}
footer h2 {
    color: white;
    font-family: "Shrikhand", "sans-serif";
    font-weight: 500;
    margin-left: 20px;
    font-size: 1.2em;
}
footer p {
    color: white;
    margin-left: 20px;
    font-size: 1.2em;
    margin: 0px;
    margin-left: 18px;
    margin-bottom: 5px;
}

footer i {
    color: white;
    margin-right: 7px;
}
.fa-utensils {
    font-size: 10px;
}
.fa-handshake-simple {
    font-size: 8px;
}
