@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&family=Shrikhand&display=swap");
.francaise img {
    width: 187px;
    height: 32px;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&family=Shrikhand&display=swap");
body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
header img {
    width: 194px;
    height: 41px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.francaise_image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}
.coeur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.menu-flex {
    display: flex;
    justify-content: center;
    column-gap: 37px;
}
.menus h3 {
    font-weight: 100;
    font-size: 16px;
    position: relative;
}
.menus h3::after {
    top: 20px;
    content: "";
    width: 50px;
    height: 3.5px;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
}
.menus_category_item {
    display: flex;
    flex-direction: column;
}
.menus_category {
    margin-bottom: 20px;
}
.menus {
    padding: 8px;
}
.menu-item {
    border-radius: 15px;
    background-color: white;
    display: flex;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
}
.resto_francaise h2 {
    font-family: "Shrikhand", "cursive";
    font-size: 23px;
    padding: 13px 31px;
}

.resto_francaise {
    margin-top: -37px;
    border-radius: 15px 15px;
    z-index: 1;
    position: relative;
    width: 100%;
    background-color: #f6f6f6;
}
.menu-item h4,
.menu-item p {
    width: 200px;
    margin: 0px;
    padding: 0px;
    padding: 5px 0px 0px 12px;
    font-size: 0.84em;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu-item h4 {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 8px;
}
.menu-item p {
    font-size: 1em;
    margin-bottom: 13px;
}
span {
    margin-left: auto;
    font-weight: 500;
    display: flex;
    margin-top: 39px;
}
.menu_item_check {
    background-color: #99e2d0;
    width: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: white;
    font-size: 1.3em;
}
.order {
    text-align: center;
    margin-top: 20px;
}
footer {
    border: 1px solid darkgrey;
    background-color: #353535;
}
footer h2 {
    color: white;
    font-family: "Shrikhand", "sans-serif";
    font-weight: 500;
    margin-left: 20px;
    font-size: 0.9em;
}
.order button {
    color: white;
    font-weight: 300;
    font-size: 14px;
    background-image: linear-gradient(
        to top,
        rgba(147, 86, 220, 0.9),
        rgba(255, 121, 218, 0.9)
    );
    border: none;
    padding: 10px 18px;
    border-radius: 39px;
    box-shadow: 2px 1px 16px -3px #000000;
    margin-bottom: 47px;
}
footer p {
    color: white;
    margin-left: 20px;
    font-size: 0.8em;
    margin: 0px;
    margin-left: 18px;
    margin-bottom: 5px;
}

footer i {
    color: white;
    margin-right: 7px;
}
.fa-utensils {
    font-size: 10px;
}
.fa-handshake-simple {
    font-size: 8px;
}
