footer {
    border: 1px solid darkgrey;
    background-color: #353535;
}
footer h2 {
    color: white;
    font-family: "Shrikhand", "sans-serif";
    font-weight: 500;
    margin-left: 20px;
    font-size: 1.2em;
}
footer p {
    color: white;
    margin-left: 20px;
    font-size: 1.2em;
    margin: 0px;
    margin-left: 18px;
    margin-bottom: 5px;
}

footer i {
    color: white;
    margin-right: 7px;
}
.fa-utensils {
    font-size: 10px;
}
.fa-handshake-simple {
    font-size: 8px;
}
@keyframes page {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.menus_category {
    @for $i from 1 through 3 {
        &: nth-child(#{$i});
        animation-delay: 100ms * $i;
    }
}

.loader {
    position: fixed;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 200ms 2s forwards;
    transform-origin: center;
    background-color: #fff;
}
@keyframes disappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
