footer {
    border: 1px solid darkgrey;
    background-color: #353535;
}
footer h2 {
    color: white;
    font-family: "Shrikhand", "sans-serif";
    font-weight: 500;
    margin-left: 20px;
    font-size: 1.2em;
}
footer p {
    color: white;
    margin-left: 20px;
    font-size: 1.2em;
    margin: 0px;
    margin-left: 18px;
    margin-bottom: 5px;
}

footer i {
    color: white;
    margin-right: 7px;
}
.fa-utensils {
    font-size: 10px;
}
.fa-handshake-simple {
    font-size: 8px;
}
