@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&family=Shrikhand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap");
body {
    max-width: 1400px;
}
.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #eaeaea;
    text-align: center;
    padding: 20px 16px 16px 69px;
}
.city i {
    font-size: 15px;
}
form input {
    border: 0px;
    font-weight: bold;
    background-color: #e6e6e6;
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    text-align: center;
}
img {
    width: 200px;
    height: 35px;
    padding-top: 12px;
    margin-bottom: 8px;
}
.explorer {
    margin-bottom: 40px;
    background-color: #f6f6f6;
}
.explorer h2 {
    font-size: 1.9em;
    padding-left: 5px;
    margin-top: 0;
    text-align: center;
    padding: 20px;
}
.explorer p {
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.3em;
}
.explorer button {
    color: white;
    font-weight: 300;
    font-size: 16px;
    background-image: linear-gradient(
        to top,
        rgba(147, 86, 220, 0.9),
        rgba(255, 121, 218, 0.9)
    );
    border: none;
    padding: 16px 41px;
    border-radius: 39px;
    box-shadow: 2px 1px 16px -3px #000000;
    margin-bottom: 47px;
}
.button {
    text-align: center;
}
.tuto {
    counter-reset: steps;
    padding: 0px 14px;
    margin-bottom: 50px;
}

.tuto h2 {
    font-size: 1.6em;
    margin-bottom: 25px;
}
.tuto li::before {
    content: counter(steps);
    counter-increment: steps;
    color: white;
    background-color: #9356dc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -8px;
}
.tuto i {
    margin-left: 13px;
}
.tuto li {
    background-color: #f6f6f6;
    padding: 20px 20px;
    flex-grow: 1;
    border-radius: 18px;
    box-shadow: 2px 1px 8px -3px #000000;
    list-style-type: none;
    margin-bottom: 20px;
    position: relative;
    font-size: 1.2em;
}
.tuto li :hover {
    color: #9356dc;
}
.tuto ol {
    padding-left: 0px;
    column-gap: 30px;
}
span {
    border: 2px solid black;
    width: 20px;
    position: absolute;
    top: 5px;
    left: 20px;
}
.list {
    display: flex;
    padding: 0 10px;
}
.tuto i {
    color: lightgray;
    margin-right: 22px;
}

.menus h2 {
    padding: 20px 20px;
    margin: 0px;
    font-size: 1.6em;
}
.menus {
    background-color: #f3f3f3;
    margin-bottom: 20px;
}
.menus_cards {
    margin: 20px;
}
.menus a {
    margin-bottom: 20px;
    border-radius: 16px 16px 16px 16px;
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
}
.menus a::before {
    content: "Nouveau";
    position: absolute;
    height: 29px;
    width: 80px;
    background-color: #99e2d0;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 15px;
    border-radius: 5px;
    color: #35a78a;
    font-weight: bold;
}

.menus img {
    width: 100%;
    height: 145px;
    background-size: cover;
    padding-top: 0px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.description {
    display: flex;
}

.card_description h3,
.card_description p {
    margin: 0;
    position: relative;
    font-size: 1.2em;
    margin-bottom: 4px;
    margin-left: 10px;
}
.card_description i {
    font-size: 20px;
    position: absolute;
    right: 14px;
    bottom: 19px;
}
footer {
    border: 1px solid darkgrey;
    background-color: #353535;
}
footer h2 {
    color: white;
    font-family: "Shrikhand", "sans-serif";
    font-weight: 500;
    margin-left: 30px;
    font-size: 1.2em;
}
footer p {
    color: white;
    font-size: 1.2em;
    margin: 0px;
    margin-left: 30px;
    margin-bottom: 5px;
}

footer i {
    color: white;
    margin-right: 7px;
}
.fa-utensils {
    font-size: 10px;
}
.fa-handshake-simple {
    font-size: 8px;
}
